@import '../scss/variables';

body {
  min-height: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif !important;
  line-height: 1em;
  background: $dark-black;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Mono', serif !important;
}
